---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Andoslash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 13:10,236:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 46:60
      X-Riot-Edge-Trace-Id:
      - c0d21862-fd5a-4bfa-a37d-f615ca787944
    body:
      encoding: UTF-8
      string: '{"id":"KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g","accountId":"527N1B3AiYQ_Ud_WPcs0SXfT0_xzrtLXM2xjISJXwnee-Q","puuid":"Ydd-Jx3QiFOw8t8-mkVGTA70KrfVqIuKtWQiz6_T6zmGhgGwwDj1ir6W6l7C1m1G1UIJA3bWUBqpGA","name":"Andoslash","profileIconId":11,"revisionDate":1495767147000,"summonerLevel":15}'
  recorded_at: Thu, 22 Aug 2019 16:29:31 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 14:10,237:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 3:10,63:600
      X-Riot-Edge-Trace-Id:
      - 1da92a44-6119-4cc4-91c6-888ed5e73df5
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Aug 2019 16:29:31 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/527N1B3AiYQ_Ud_WPcs0SXfT0_xzrtLXM2xjISJXwnee-Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 15:10,238:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '2:10'
      X-Riot-Edge-Trace-Id:
      - d5b3ec3a-cea0-44f0-ab40-5c2b5e3a4a09
    body:
      encoding: UTF-8
      string: '{"status":{"message":"Data not found","status_code":404}}'
  recorded_at: Thu, 22 Aug 2019 16:29:32 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 16:10,239:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 45:60
      X-Riot-Edge-Trace-Id:
      - 8fd3b860-33e5-43a1-b9c1-415855bbc585
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Aug 2019 16:29:32 GMT
recorded_with: VCR 4.0.0
