---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Sarcastique
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 13:10,592:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 25:60
      X-Riot-Edge-Trace-Id:
      - bf309802-58da-46bf-aca3-f8a465fa3915
    body:
      encoding: UTF-8
      string: '{"id":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","accountId":"8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8","puuid":"t5J3-6Y1eLZ1Op4jhd06MHSxtaxZSbW1MBtZq02248v6GZg0bSz2nchVbOoBqXVX_3WvFyihyAeRIQ","name":"Sarcastique","profileIconId":4061,"revisionDate":1566312898000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:32:07 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 14:10,593:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 2:10,152:600
      X-Riot-Edge-Trace-Id:
      - 0b051f00-c1e3-4482-86f0-4487ee545108
    body:
      encoding: UTF-8
      string: '[{"championId":114,"championLevel":6,"championPoints":83672,"lastPlayTime":1536588501000,"championPointsSinceLastLevel":62072,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":3,"summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU"},{"championId":7,"championLevel":7,"championPoints":80739,"lastPlayTime":1559515867000,"championPointsSinceLastLevel":59139,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU"},{"championId":222,"championLevel":5,"championPoints":79880,"lastPlayTime":1526428817000,"championPointsSinceLastLevel":58280,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 15:10,594:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '2:10'
      X-Riot-Edge-Trace-Id:
      - 8cc20590-51b2-4fea-a440-235aed1b244b
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4159840647,"champion":157,"queue":430,"season":13,"timestamp":1566310501994,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4159571345,"champion":145,"queue":400,"season":13,"timestamp":1566294412975,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4159536505,"champion":119,"queue":400,"season":13,"timestamp":1566292076435,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4159155653,"champion":518,"queue":400,"season":13,"timestamp":1566246504624,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4159063089,"champion":84,"queue":400,[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 16:10,595:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 24:60
      X-Riot-Edge-Trace-Id:
      - 32b8bc02-118e-499a-8bea-568581fcaf1e
    body:
      encoding: UTF-8
      string: '[{"leagueId":"216e42c0-3ef3-11e9-acf7-c81f66db01ef","queueType":"RANKED_SOLO_5x5","tier":"GOLD","rank":"IV","summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","summonerName":"Sarcastique","leaguePoints":0,"wins":77,"losses":70,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"dd327b50-660a-11e9-86d9-c81f66dacb22","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","summonerName":"Sarcastique","leaguePoints":100,"wins":27,"losses":15,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":0,"losses":1,"progress":"LNN"}},{"leagueId":"4be64330-af10-11e9-84ec-c81f66db01ef","queueType":"RANKED_TFT","tier":"SILVER","rank":"IV","summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","summonerName":"Sarcastique","leaguePoints":0,"wins":6,"losses":27,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:32:08 GMT
recorded_with: VCR 4.0.0
