---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Sarcastique
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 29:10,151:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 25:60
      X-Riot-Edge-Trace-Id:
      - e377e24f-749c-443a-9678-c8fc3b3f0868
    body:
      encoding: UTF-8
      string: '{"id":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","accountId":"8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8","puuid":"t5J3-6Y1eLZ1Op4jhd06MHSxtaxZSbW1MBtZq02248v6GZg0bSz2nchVbOoBqXVX_3WvFyihyAeRIQ","name":"Sarcastique","profileIconId":4061,"revisionDate":1566312898000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:29:05 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 30:10,152:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 8:10,42:600
      X-Riot-Edge-Trace-Id:
      - e1cc0e35-c545-4cd0-91ea-1a458ebfe0b1
    body:
      encoding: UTF-8
      string: '[{"championId":114,"championLevel":6,"championPoints":83672,"lastPlayTime":1536588501000,"championPointsSinceLastLevel":62072,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":3,"summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU"},{"championId":7,"championLevel":7,"championPoints":80739,"lastPlayTime":1559515867000,"championPointsSinceLastLevel":59139,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU"},{"championId":222,"championLevel":5,"championPoints":79880,"lastPlayTime":1526428817000,"championPointsSinceLastLevel":58280,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 31:10,153:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '7:10'
      X-Riot-Edge-Trace-Id:
      - 2d772994-9e3c-4487-ab3d-e6b4c16a4f90
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4159840647,"champion":157,"queue":430,"season":13,"timestamp":1566310501994,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4159571345,"champion":145,"queue":400,"season":13,"timestamp":1566294412975,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4159536505,"champion":119,"queue":400,"season":13,"timestamp":1566292076435,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4159155653,"champion":518,"queue":400,"season":13,"timestamp":1566246504624,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4159063089,"champion":84,"queue":400,[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 32:10,154:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 24:60
      X-Riot-Edge-Trace-Id:
      - a388faf9-0b52-45f6-ae91-75c3e8678640
    body:
      encoding: UTF-8
      string: '[{"leagueId":"216e42c0-3ef3-11e9-acf7-c81f66db01ef","queueType":"RANKED_SOLO_5x5","tier":"GOLD","rank":"IV","summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","summonerName":"Sarcastique","leaguePoints":0,"wins":77,"losses":70,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"dd327b50-660a-11e9-86d9-c81f66dacb22","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","summonerName":"Sarcastique","leaguePoints":100,"wins":27,"losses":15,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":0,"losses":1,"progress":"LNN"}},{"leagueId":"4be64330-af10-11e9-84ec-c81f66db01ef","queueType":"RANKED_TFT","tier":"SILVER","rank":"IV","summonerId":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","summonerName":"Sarcastique","leaguePoints":0,"wins":6,"losses":27,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:29:05 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Rekkles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 33:10,155:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 26:60
      X-Riot-Edge-Trace-Id:
      - 0d39eee6-3d2f-41eb-bb17-264828d60185
    body:
      encoding: UTF-8
      string: '{"id":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","accountId":"cs7pLkcK4K4AYfa7vP6GhAD5xQVIQtRTJkKDzWsP2SCenQ","puuid":"K16FMEaWln9sPC4-BgGD5tM8eSQ8Evk-TU3QiCawNuH3acU0ph_zujIRnL1V7qbUv5qa-955jjeIqQ","name":"Rekkles","profileIconId":4,"revisionDate":1566485182000,"summonerLevel":244}'
  recorded_at: Thu, 22 Aug 2019 16:29:06 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 34:10,1[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/cs7pLkcK4K4AYfa7vP6GhAD5xQVIQtRTJkKDzWsP2SCenQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 35:10,157:600
      X-Method[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 36:10,158:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 25:60
      X-Riot-Edge-Trace-Id:
      - 5b9fca37-cf3d-4896-838a-fa99816f7c0f
    body:
      encoding: UTF-8
      string: '[{"leagueId":"57444110-c37d-11e9-89c3-c81f66dd0e0d","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"IV","summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","summonerName":"Rekkles","leaguePoints":30,"wins":45,"losses":183,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"leagueId":"65ebcd4f-368c-30f6-a635-976beb0e1a8c","queueType":"RANKED_SOLO_5x5","tier":"CHALLENGER","rank":"I","summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","summonerName":"Rekkles","leaguePoints":787,"wins":597,"losses":509,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:29:07 GMT
recorded_with: VCR 4.0.0
