---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Teazie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 30:10,444:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - e03e6d5d-303c-4b1d-826a-fe656ff7f424
    body:
      encoding: UTF-8
      string: '{"id":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","accountId":"WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw","puuid":"4seb3_fzA-M65ddS8inXTb9BRDnBUzsLsh6SSYYlv2fJUqfC_u1BP-4vc3Z7xw71LXHCJGPo6M7YQQ","name":"Teazie","profileIconId":4057,"revisionDate":1566086639000,"summonerLevel":86}'
  recorded_at: Thu, 22 Aug 2019 16:30:37 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 31:10,445:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 2:10,115:600
      X-Riot-Edge-Trace-Id:
      - f2a09529-3f10-4d4f-81d4-1044101e790e
    body:
      encoding: UTF-8
      string: '[{"championId":81,"championLevel":7,"championPoints":125207,"lastPlayTime":1562095795000,"championPointsSinceLastLevel":103607,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw"},{"championId":103,"championLevel":7,"championPoints":94893,"lastPlayTime":1566074252000,"championPointsSinceLastLevel":73293,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw"},{"championId":412,"championLevel":6,"championPoints":51558,"lastPlayTime":1532962891000,"championPointsSinceLastLevel":29958,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarn[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 32:10,446:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '1:10'
      X-Riot-Edge-Trace-Id:
      - a9471a92-1a8a-4ae0-a842-5e66d621117c
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4156347316,"champion":55,"queue":420,"season":13,"timestamp":1566077900671,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4156314082,"champion":101,"queue":420,"season":13,"timestamp":1566075084264,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4156283211,"champion":103,"queue":420,"season":13,"timestamp":1566072801942,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4155325103,"champion":119,"queue":400,"season":13,"timestamp":1566046339043,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4114347156,"champion":92,"queue":440,"season":13,"tim[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 33:10,447:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 48:60
      X-Riot-Edge-Trace-Id:
      - cd0fdda9-0b29-477c-bdb5-a9169d177a7d
    body:
      encoding: UTF-8
      string: '[{"leagueId":"96d4c920-49d5-11e9-b60e-c81f66db01ef","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","summonerName":"Teazie","leaguePoints":100,"wins":39,"losses":40,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":1,"losses":1,"progress":"WLN"}}]'
  recorded_at: Thu, 22 Aug 2019 16:30:38 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Sarcastique
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 34:10,448:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 2:60
      X-Riot-Edge-Trace-Id:
      - 9ef1f744-8d9a-41fc-9103-195e165b1b76
    body:
      encoding: UTF-8
      string: '{"id":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","accountId":"8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8","puuid":"t5J3-6Y1eLZ1Op4jhd06MHSxtaxZSbW1MBtZq02248v6GZg0bSz2nchVbOoBqXVX_3WvFyihyAeRIQ","name":"Sarcastique","profileIconId":4061,"revisionDate":1566312898000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:30:38 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 35:10,4[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 36:10,450:600
      X-Metho[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 1:10,451:600
      X-Method-[...]
