---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/remi5151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 21:10,143:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 23:60
      X-Riot-Edge-Trace-Id:
      - 5ddec89b-e7e9-4cf3-8005-adaed6b378aa
    body:
      encoding: UTF-8
      string: '{"id":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","accountId":"aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg","puuid":"pyFqKDo9aFAOAEGFZDv_58cStyVpS39kgQz7BFuy7AhKac86Yg1y4pEzWt3ZCfkS3xHG_3KzWpJCxQ","name":"remi5151","profileIconId":4061,"revisionDate":1558051062000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:29:02 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 22:10,144:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 6:10,40:600
      X-Riot-Edge-Trace-Id:
      - 2f2e931a-a625-4d72-87c2-54d7b7b7e823
    body:
      encoding: UTF-8
      string: '[{"championId":245,"championLevel":7,"championPoints":140247,"lastPlayTime":1537046674000,"championPointsSinceLastLevel":118647,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E"},{"championId":81,"championLevel":6,"championPoints":120940,"lastPlayTime":1537307530000,"championPointsSinceLastLevel":99340,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E"},{"championId":432,"championLevel":7,"championPoints":100331,"lastPlayTime":1527176815000,"championPointsSinceLastLevel":78731,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEa[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 23:10,145:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '5:10'
      X-Riot-Edge-Trace-Id:
      - 0d8b460c-e1e5-499f-8d5c-921b079426c8
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4031904573,"champion":26,"queue":450,"season":13,"timestamp":1558049936706,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":4031881116,"champion":115,"queue":450,"season":13,"timestamp":1558047510191,"role":"DUO_SUPPORT","lane":"TOP"},{"platformId":"EUW1","gameId":4031846203,"champion":25,"queue":450,"season":13,"timestamp":1558046018434,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":4030991021,"champion":112,"queue":450,"season":13,"timestamp":1557964666938,"role":"DUO_SUPPORT","lane":"TOP"},{"platformId":"EUW1","gameId":4030908362,"champion":126,"queue":450,"[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 24:10,146:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 22:60
      X-Riot-Edge-Trace-Id:
      - 7aa6e437-e700-47e3-9bee-c1d4466fed79
    body:
      encoding: UTF-8
      string: '[{"leagueId":"e6e39f30-2596-11e9-b27d-c81f66dd0e0d","queueType":"RANKED_SOLO_5x5","tier":"SILVER","rank":"I","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":0,"wins":26,"losses":30,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"58d4be60-2c1a-11e9-a608-c81f66dacb22","queueType":"RANKED_FLEX_SR","tier":"BRONZE","rank":"II","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":3,"wins":2,"losses":9,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:29:03 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Teazie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 25:10,147:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 24:60
      X-Riot-Edge-Trace-Id:
      - 5acae1c7-fc40-4b5f-843e-e2f4d73e3e10
    body:
      encoding: UTF-8
      string: '{"id":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","accountId":"WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw","puuid":"4seb3_fzA-M65ddS8inXTb9BRDnBUzsLsh6SSYYlv2fJUqfC_u1BP-4vc3Z7xw71LXHCJGPo6M7YQQ","name":"Teazie","profileIconId":4057,"revisionDate":1566086639000,"summonerLevel":86}'
  recorded_at: Thu, 22 Aug 2019 16:29:03 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 26:10,1[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 27:10,149:600
      X-Method[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 28:10,150:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 23:60
      X-Riot-Edge-Trace-Id:
      - ac557f08-cec4-4f63-baf3-44b1889154b3
    body:
      encoding: UTF-8
      string: '[{"leagueId":"96d4c920-49d5-11e9-b60e-c81f66db01ef","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","summonerName":"Teazie","leaguePoints":100,"wins":39,"losses":40,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":1,"losses":1,"progress":"WLN"}}]'
  recorded_at: Thu, 22 Aug 2019 16:29:04 GMT
recorded_with: VCR 4.0.0
