---
http_interactions:
- request:
    method: post
    uri: https://api.scoutsdk.com/graph
    body:
      encoding: UTF-8
      string: '{"query":"      {        players(identifier: \"Ninja\", title: \"fortnite\")
        {          results {            player {              playerId            }            persona
        {              handle              platform {                slug              }              pictureUrl            }          }        }      }","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Scout-App:
      - FORTNITE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"players":{"results":[{"player":{"playerId":"AQUACAFd0fHW8xYHSoVIciMMK9iG"},"persona":{"handle":"Ninja.","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AQUAAQFYz6aBceziTqEF+uvBnRfw"},"persona":{"handle":"ninja","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACATYptzTLK3rTKqYHl2sK8/q"},"persona":{"handle":"Ninja","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAXYptzTLK3rTKqYHl2sK8/q"},"persona":{"handle":"Ninja","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAbYptzTLK3rTKqYHl2sK8/q"},"persona":{"handle":"Ninja","platform":{"slug":"epic"},"pictureUrl":null}}]}}}'
  recorded_at: Thu, 22 Aug 2019 16:30:56 GMT
- request:
    method: post
    uri: https://api.scoutsdk.com/graph
    body:
      encoding: UTF-8
      string: '{"query":"      {        player(title: \"fortnite\", id: \"AQUAAQFYz6aBceziTqEF+uvBnRfw\",
        segment: \"alltime\") {          segments {            metadata {              key              name              value              displayValue            }            stats
        {              metadata {                key                name                isReversed              }              value              displayValue            }          }        }      }","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Scout-App:
      - FORTNITE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"player":{"segments":[{"metadata":[{"key":"segment","name":"Segment","value":"p2.br.m0.alltime","displayValue":"Solo
        (All-Time)"},{"key":"lastPlayedAt","name":"Last Played At","value":"2019-06-24T13:51:18Z","displayValue":"6/24/19
        1:51:18 PM"},{"key":"updatedAt","name":"Updated At","value":"2019-08-22T16:28:16.3814972Z","displayValue":"8/22/19
        4:28:16 PM"}],"stats":[{"metadata":{"key":"kills","name":"Kills","isReversed":false},"value":1820,"displayValue":"1,820"},{"metadata":{"key":"score","name":"Score","isReversed":false},"value":252229,"displayValue":"252,229"},{"metadata":{"key":"matchesPlayed","name":"Matches
        Played","isReversed":false},"value":1510,"displayValue":"1,510"},{"metadata":{"key":"minutesPlayed","name":"Minutes
        Played","isReversed":false},"value":0,"displayValue":"0"},{"metadata":{"key":"timePlayed","name":"Time
        Played","isReversed":false},"value":0,"displayValue":"0"},{[...]
[...]
