---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Andoslash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 8:10,384:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 34:60
      X-Riot-Edge-Trace-Id:
      - '0787d447-cfdf-4543-9db6-0abda75f4aa7'
    body:
      encoding: UTF-8
      string: '{"id":"KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g","accountId":"527N1B3AiYQ_Ud_WPcs0SXfT0_xzrtLXM2xjISJXwnee-Q","puuid":"Ydd-Jx3QiFOw8t8-mkVGTA70KrfVqIuKtWQiz6_T6zmGhgGwwDj1ir6W6l7C1m1G1UIJA3bWUBqpGA","name":"Andoslash","profileIconId":11,"revisionDate":1495767147000,"summonerLevel":15}'
  recorded_at: Thu, 22 Aug 2019 16:30:21 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 9:10,385:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 7:10,100:600
      X-Riot-Edge-Trace-Id:
      - fdcdc579-df4a-4957-9b05-c9834948d645
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Aug 2019 16:30:21 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/527N1B3AiYQ_Ud_WPcs0SXfT0_xzrtLXM2xjISJXwnee-Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 10:10,386:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '6:10'
      X-Riot-Edge-Trace-Id:
      - 4df91c32-30ec-4074-810d-338fd85fb43b
    body:
      encoding: UTF-8
      string: '{"status":{"message":"Data not found","status_code":404}}'
  recorded_at: Thu, 22 Aug 2019 16:30:21 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 11:10,387:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 33:60
      X-Riot-Edge-Trace-Id:
      - 693eb712-e4ed-4cba-9a73-0e088586c638
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Aug 2019 16:30:21 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Zerp357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 12:10,388:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 35:60
      X-Riot-Edge-Trace-Id:
      - 52636f1a-a7b4-4402-9233-9a7f81af25b4
    body:
      encoding: UTF-8
      string: '{"id":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ","accountId":"85MUAYUUItGbK5tir4zBajFXUJ12WDlD0GuVF63oYtHbRg","puuid":"Kk9BJcF89zN4Et0_CsqouYtcNLNR9zxRHZUCQ7yzEjsbTTLyPxCIpyk-rpHFdJKialib0Cd44YIu1Q","name":"Zerp357","profileIconId":3582,"revisionDate":1554029745000,"summonerLevel":47}'
  recorded_at: Thu, 22 Aug 2019 16:30:21 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 13:10,389:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 8:10,101:600
      X-Riot-Edge-Trace-Id:
      - 3f809aae-2aa0-4379-b498-8e67bf9b6303
    body:
      encoding: UTF-8
      string: '[{"championId":161,"championLevel":5,"championPoints":69169,"lastPlayTime":1524029826000,"championPointsSinceLastLevel":47569,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ"},{"championId":101,"championLevel":4,"championPoints":16886,"lastPlayTime":1447632630000,"championPointsSinceLastLevel":4286,"championPointsUntilNextLevel":4714,"chestGranted":false,"tokensEarned":0,"summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ"},{"championId":82,"championLevel":3,"championPoints":12466,"lastPlayTime":1546272367000,"championPointsSinceLastLevel":6466,"championPointsUntilNextLevel":134,"chestGranted":false,"tokensE[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/85MUAYUUItGbK5tir4zBajFXUJ12WDlD0GuVF63oYtHbRg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 14:10,390:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '7:10'
      X-Riot-Edge-Trace-Id:
      - bb37134b-d6fb-4c9d-8709-7eeed15c44f0
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":3980341573,"champion":202,"queue":420,"season":13,"timestamp":1554027691049,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":3979943842,"champion":202,"queue":420,"season":13,"timestamp":1553979737364,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":3979707974,"champion":421,"queue":900,"season":13,"timestamp":1553967539192,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":3979692014,"champion":107,"queue":900,"season":13,"timestamp":1553965890497,"role":"NONE","lane":"JUNGLE"},{"platformId":"EUW1","gameId":3979636696,"champion":98,"queue":900,"s[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 15:10,391:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 34:60
      X-Riot-Edge-Trace-Id:
      - 7ba31024-89a3-4e0f-ba6e-4b34ebc9a0fa
    body:
      encoding: UTF-8
      string: '[{"leagueId":"87661e00-5301-11e9-bf34-c81f66dacb22","queueType":"RANKED_SOLO_5x5","tier":"BRONZE","rank":"IV","summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ","summonerName":"Zerp357","leaguePoints":6,"wins":4,"losses":6,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:30:22 GMT
recorded_with: VCR 4.0.0
