---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Teazie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 26:10,540:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 12:60
      X-Riot-Edge-Trace-Id:
      - 38c3db48-94ae-4463-a5a8-f79d84025bdf
    body:
      encoding: UTF-8
      string: '{"id":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","accountId":"WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw","puuid":"4seb3_fzA-M65ddS8inXTb9BRDnBUzsLsh6SSYYlv2fJUqfC_u1BP-4vc3Z7xw71LXHCJGPo6M7YQQ","name":"Teazie","profileIconId":4057,"revisionDate":1566086639000,"summonerLevel":86}'
  recorded_at: Thu, 22 Aug 2019 16:31:51 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 27:10,541:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 7:10,139:600
      X-Riot-Edge-Trace-Id:
      - aee0d94e-7033-4a48-a0ee-bfbf9ae18b63
    body:
      encoding: UTF-8
      string: '[{"championId":81,"championLevel":7,"championPoints":125207,"lastPlayTime":1562095795000,"championPointsSinceLastLevel":103607,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw"},{"championId":103,"championLevel":7,"championPoints":94893,"lastPlayTime":1566074252000,"championPointsSinceLastLevel":73293,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw"},{"championId":412,"championLevel":6,"championPoints":51558,"lastPlayTime":1532962891000,"championPointsSinceLastLevel":29958,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarn[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 28:10,542:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '7:10'
      X-Riot-Edge-Trace-Id:
      - 4d2e780e-a524-4fe0-b72a-5d6287ba119e
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4156347316,"champion":55,"queue":420,"season":13,"timestamp":1566077900671,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4156314082,"champion":101,"queue":420,"season":13,"timestamp":1566075084264,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4156283211,"champion":103,"queue":420,"season":13,"timestamp":1566072801942,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4155325103,"champion":119,"queue":400,"season":13,"timestamp":1566046339043,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4114347156,"champion":92,"queue":440,"season":13,"tim[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 29:10,543:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 11:60
      X-Riot-Edge-Trace-Id:
      - 4a043bce-de59-4349-9eed-181ef5169070
    body:
      encoding: UTF-8
      string: '[{"leagueId":"96d4c920-49d5-11e9-b60e-c81f66db01ef","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","summonerName":"Teazie","leaguePoints":100,"wins":39,"losses":40,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":1,"losses":1,"progress":"WLN"}}]'
  recorded_at: Thu, 22 Aug 2019 16:31:52 GMT
recorded_with: VCR 4.0.0
