---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Teazie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 12:10,684:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - f044ae9e-4b95-47a1-b32a-423c78e99fdd
    body:
      encoding: UTF-8
      string: '{"id":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","accountId":"WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw","puuid":"4seb3_fzA-M65ddS8inXTb9BRDnBUzsLsh6SSYYlv2fJUqfC_u1BP-4vc3Z7xw71LXHCJGPo6M7YQQ","name":"Teazie","profileIconId":4057,"revisionDate":1566086639000,"summonerLevel":86}'
  recorded_at: Thu, 22 Aug 2019 16:32:38 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 13:10,685:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 1:10,175:600
      X-Riot-Edge-Trace-Id:
      - 4a52a987-7513-4ab7-84df-93bd087b9733
    body:
      encoding: UTF-8
      string: '[{"championId":81,"championLevel":7,"championPoints":125207,"lastPlayTime":1562095795000,"championPointsSinceLastLevel":103607,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw"},{"championId":103,"championLevel":7,"championPoints":94893,"lastPlayTime":1566074252000,"championPointsSinceLastLevel":73293,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw"},{"championId":412,"championLevel":6,"championPoints":51558,"lastPlayTime":1532962891000,"championPointsSinceLastLevel":29958,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarn[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 14:10,686:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '1:10'
      X-Riot-Edge-Trace-Id:
      - 63e85a8e-9061-4063-b403-ab6ae20f86ca
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4156347316,"champion":55,"queue":420,"season":13,"timestamp":1566077900671,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4156314082,"champion":101,"queue":420,"season":13,"timestamp":1566075084264,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4156283211,"champion":103,"queue":420,"season":13,"timestamp":1566072801942,"role":"SOLO","lane":"MID"},{"platformId":"EUW1","gameId":4155325103,"champion":119,"queue":400,"season":13,"timestamp":1566046339043,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4114347156,"champion":92,"queue":440,"season":13,"tim[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 15:10,687:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 47:60
      X-Riot-Edge-Trace-Id:
      - d75b7224-c1f6-4718-a8c2-9f259074799b
    body:
      encoding: UTF-8
      string: '[{"leagueId":"96d4c920-49d5-11e9-b60e-c81f66db01ef","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","summonerName":"Teazie","leaguePoints":100,"wins":39,"losses":40,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":1,"losses":1,"progress":"WLN"}}]'
  recorded_at: Thu, 22 Aug 2019 16:32:39 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Sarcastique
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 16:10,688:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 2:60
      X-Riot-Edge-Trace-Id:
      - 74c68828-3907-4606-83f5-d54e3586f339
    body:
      encoding: UTF-8
      string: '{"id":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","accountId":"8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8","puuid":"t5J3-6Y1eLZ1Op4jhd06MHSxtaxZSbW1MBtZq02248v6GZg0bSz2nchVbOoBqXVX_3WvFyihyAeRIQ","name":"Sarcastique","profileIconId":4061,"revisionDate":1566312898000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:32:39 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 17:10,6[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 18:10,690:600
      X-Metho[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 19:10,691:600
      X-Method[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Rekkles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 20:10,692:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 3:60
      X-Riot-Edge-Trace-Id:
      - f205aff6-f414-4ba8-8e09-08249d5d05ba
    body:
      encoding: UTF-8
      string: '{"id":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","accountId":"cs7pLkcK4K4AYfa7vP6GhAD5xQVIQtRTJkKDzWsP2SCenQ","puuid":"K16FMEaWln9sPC4-BgGD5tM8eSQ8Evk-TU3QiCawNuH3acU0ph_zujIRnL1V7qbUv5qa-955jjeIqQ","name":"Rekkles","profileIconId":4,"revisionDate":1566485182000,"summonerLevel":244}'
  recorded_at: Thu, 22 Aug 2019 16:32:40 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 21:10,6[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/cs7pLkcK4K4AYfa7vP6GhAD5xQVIQtRTJkKDzWsP2SCenQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 22:10,694:600
      X-Method[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 23:10,695:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 2:60
      X-Riot-Edge-Trace-Id:
      - 9d83b7b6-9389-4242-891c-5cf05600d838
    body:
      encoding: UTF-8
      string: '[{"leagueId":"57444110-c37d-11e9-89c3-c81f66dd0e0d","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"IV","summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","summonerName":"Rekkles","leaguePoints":30,"wins":45,"losses":183,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"leagueId":"65ebcd4f-368c-30f6-a635-976beb0e1a8c","queueType":"RANKED_SOLO_5x5","tier":"CHALLENGER","rank":"I","summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","summonerName":"Rekkles","leaguePoints":787,"wins":597,"losses":509,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:32:41 GMT
- request:
    method: get
    uri: https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Sneaky
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 1:10,1:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - eb9e445a-051c-4306-89de-7b7d59834fe0
    body:
      encoding: UTF-8
      string: '{"id":"GQb8C2mrMEYdPfTQ2D9OYrUZMe3qII2oBTK0O4cLfA","accountId":"_phHZiGJYRBn6eRBCNc0ryhG_cKvfdplfC5MJ6GgCQ","puuid":"d8QL56j9mcANVm5JVJA62mMkUqwdDx__wY0SVJpiY9en4bmp02uvJg_6PhT_C4_E0anrJ9BHS5gWqA","name":"Sneaky","profileIconId":4027,"revisionDate":1566363934000,"summonerLevel":173}'
  recorded_at: Thu, 22 Aug 2019 16:32:42 GMT
- request:
    method: get
    uri: https://na1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/GQb8C2mrMEYdPfTQ2D9OYrUZMe3qII2oBTK0O4cLfA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 2:10,2:600
  [...]
- request:
    method: get
    uri: https://na1.api.riotgames.com/lol/match/v4/matchlists/by-account/_phHZiGJYRBn6eRBCNc0ryhG_cKvfdplfC5MJ6GgCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 3:10,3:600
      X-Method-Rate-Li[...]
- request:
    method: get
    uri: https://na1.api.riotgames.com/lol/league/v4/entries/by-summoner/GQb8C2mrMEYdPfTQ2D9OYrUZMe3qII2oBTK0O4cLfA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 4:10,4:600
      X-Method-Rate-Lim[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Andoslash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 1:10,696:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 4:60
      X-Riot-Edge-Trace-Id:
      - 49940f06-4b5c-49cf-9789-427117b50a05
    body:
      encoding: UTF-8
      string: '{"id":"KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g","accountId":"527N1B3AiYQ_Ud_WPcs0SXfT0_xzrtLXM2xjISJXwnee-Q","puuid":"Ydd-Jx3QiFOw8t8-mkVGTA70KrfVqIuKtWQiz6_T6zmGhgGwwDj1ir6W6l7C1m1G1UIJA3bWUBqpGA","name":"Andoslash","profileIconId":11,"revisionDate":1495767147000,"summonerLevel":15}'
  recorded_at: Thu, 22 Aug 2019 16:32:45 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 2:10,697:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 4:10,178:600
      X-Riot-Edge-Trace-Id:
      - c5ff7442-7a70-4b71-8226-7811408cff32
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Aug 2019 16:32:45 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/527N1B3AiYQ_Ud_WPcs0SXfT0_xzrtLXM2xjISJXwnee-Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 3:10,698:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '4:10'
      X-Riot-Edge-Trace-Id:
      - 4e9ba572-2f1d-4abd-ad10-b0153443a17f
    body:
      encoding: UTF-8
      string: '{"status":{"message":"Data not found","status_code":404}}'
  recorded_at: Thu, 22 Aug 2019 16:32:46 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/KAlpQjRnwhQJ_eXZ0QxOEMEX-qK5_v7_TgZWJaHH1i-mG0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 4:10,699:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 3:60
      X-Riot-Edge-Trace-Id:
      - d3b4e013-7d1e-4723-b454-9647a3bd1596
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 22 Aug 2019 16:32:46 GMT
recorded_with: VCR 4.0.0
