---
http_interactions:
- request:
    method: post
    uri: https://api.scoutsdk.com/graph
    body:
      encoding: UTF-8
      string: '{"query":"      {        players(identifier: \"SofianeG\", title: \"fortnite\")
        {          results {            player {              playerId            }            persona
        {              handle              platform {                slug              }              pictureUrl            }          }        }      }","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Scout-App:
      - FORTNITE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"players":{"results":[{"player":{"playerId":"AQUACAEFnUzKpjlgTovbo6oZmrq3"},"persona":{"handle":"SofianeG","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAQFnUzKpjlgTovbo6oZmrq3"},"persona":{"handle":"SofianeG","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAUFnUzKpjlgTovbo6oZmrq3"},"persona":{"handle":"SofianeG","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAYFnUzKpjlgTovbo6oZmrq3"},"persona":{"handle":"SofianeG","platform":{"slug":"epic"},"pictureUrl":null}}]}}}'
  recorded_at: Thu, 22 Aug 2019 16:31:19 GMT
- request:
    method: post
    uri: https://api.scoutsdk.com/graph
    body:
      encoding: UTF-8
      string: '{"query":"      {        player(title: \"fortnite\", id: \"AQUACAEFnUzKpjlgTovbo6oZmrq3\",
        segment: \"alltime\") {          segments {            metadata {              key              name              value              displayValue            }            stats
        {              metadata {                key                name                isReversed              }              value              displayValue            }          }        }      }","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Scout-App:
      - FORTNITE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"player":{"segments":[{"metadata":[{"key":"segment","name":"Segment","value":"p10.br.m0.alltime","displayValue":"Duo
        (All-Time)"},{"key":"lastPlayedAt","name":"Last Played At","value":"2019-01-13T19:26:44Z","displayValue":"1/13/19
        7:26:44 PM"},{"key":"updatedAt","name":"Updated At","value":"2019-08-22T16:31:07.89563Z","displayValue":"8/22/19
        4:31:07 PM"}],"stats":[{"metadata":{"key":"kills","name":"Kills","isReversed":false},"value":2,"displayValue":"2"},{"metadata":{"key":"score","name":"Score","isReversed":false},"value":1315,"displayValue":"1,315"},{"metadata":{"key":"matchesPlayed","name":"Matches
        Played","isReversed":false},"value":14,"displayValue":"14"},{"metadata":{"key":"minutesPlayed","name":"Minutes
        Played","isReversed":false},"value":0,"displayValue":"0"},{"metadata":{"key":"timePlayed","name":"Time
        Played","isReversed":false},"value":0,"displayValue":"0"},{"metadata":{"key[...]
