---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/remi5151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 9:10,167:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 29:60
      X-Riot-Edge-Trace-Id:
      - f5608b8f-4c26-4ba6-80f4-0dacdef2f7d3
    body:
      encoding: UTF-8
      string: '{"id":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","accountId":"aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg","puuid":"pyFqKDo9aFAOAEGFZDv_58cStyVpS39kgQz7BFuy7AhKac86Yg1y4pEzWt3ZCfkS3xHG_3KzWpJCxQ","name":"remi5151","profileIconId":4061,"revisionDate":1558051062000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:29:10 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 10:10,168:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 3:10,46:600
      X-Riot-Edge-Trace-Id:
      - 2f1cbbf9-60dc-4053-b01d-7f6939770161
    body:
      encoding: UTF-8
      string: '[{"championId":245,"championLevel":7,"championPoints":140247,"lastPlayTime":1537046674000,"championPointsSinceLastLevel":118647,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E"},{"championId":81,"championLevel":6,"championPoints":120940,"lastPlayTime":1537307530000,"championPointsSinceLastLevel":99340,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E"},{"championId":432,"championLevel":7,"championPoints":100331,"lastPlayTime":1527176815000,"championPointsSinceLastLevel":78731,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEa[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 11:10,169:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '2:10'
      X-Riot-Edge-Trace-Id:
      - 6dc17058-7d42-4b8f-89fa-7b0fa0e7efcd
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4031904573,"champion":26,"queue":450,"season":13,"timestamp":1558049936706,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":4031881116,"champion":115,"queue":450,"season":13,"timestamp":1558047510191,"role":"DUO_SUPPORT","lane":"TOP"},{"platformId":"EUW1","gameId":4031846203,"champion":25,"queue":450,"season":13,"timestamp":1558046018434,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":4030991021,"champion":112,"queue":450,"season":13,"timestamp":1557964666938,"role":"DUO_SUPPORT","lane":"TOP"},{"platformId":"EUW1","gameId":4030908362,"champion":126,"queue":450,"[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 12:10,170:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 28:60
      X-Riot-Edge-Trace-Id:
      - c48619b7-653e-4d72-a479-51b10ddc5504
    body:
      encoding: UTF-8
      string: '[{"leagueId":"e6e39f30-2596-11e9-b27d-c81f66dd0e0d","queueType":"RANKED_SOLO_5x5","tier":"SILVER","rank":"I","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":0,"wins":26,"losses":30,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"58d4be60-2c1a-11e9-a608-c81f66dacb22","queueType":"RANKED_FLEX_SR","tier":"BRONZE","rank":"II","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":3,"wins":2,"losses":9,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:29:10 GMT
recorded_with: VCR 4.0.0
