---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Zerp357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 5:10,700:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 5:60
      X-Riot-Edge-Trace-Id:
      - e9aadbdb-4efe-43a7-9802-1ea6e4e90a27
    body:
      encoding: UTF-8
      string: '{"id":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ","accountId":"85MUAYUUItGbK5tir4zBajFXUJ12WDlD0GuVF63oYtHbRg","puuid":"Kk9BJcF89zN4Et0_CsqouYtcNLNR9zxRHZUCQ7yzEjsbTTLyPxCIpyk-rpHFdJKialib0Cd44YIu1Q","name":"Zerp357","profileIconId":3582,"revisionDate":1554029745000,"summonerLevel":47}'
  recorded_at: Thu, 22 Aug 2019 16:32:46 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 6:10,701:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 5:10,179:600
      X-Riot-Edge-Trace-Id:
      - c9546112-2753-4d18-bb33-a124eaa2c9a1
    body:
      encoding: UTF-8
      string: '[{"championId":161,"championLevel":5,"championPoints":69169,"lastPlayTime":1524029826000,"championPointsSinceLastLevel":47569,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ"},{"championId":101,"championLevel":4,"championPoints":16886,"lastPlayTime":1447632630000,"championPointsSinceLastLevel":4286,"championPointsUntilNextLevel":4714,"chestGranted":false,"tokensEarned":0,"summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ"},{"championId":82,"championLevel":3,"championPoints":12466,"lastPlayTime":1546272367000,"championPointsSinceLastLevel":6466,"championPointsUntilNextLevel":134,"chestGranted":false,"tokensE[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/85MUAYUUItGbK5tir4zBajFXUJ12WDlD0GuVF63oYtHbRg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 7:10,702:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '5:10'
      X-Riot-Edge-Trace-Id:
      - 1b617b41-07e3-48de-a266-705c0be21567
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":3980341573,"champion":202,"queue":420,"season":13,"timestamp":1554027691049,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":3979943842,"champion":202,"queue":420,"season":13,"timestamp":1553979737364,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":3979707974,"champion":421,"queue":900,"season":13,"timestamp":1553967539192,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":3979692014,"champion":107,"queue":900,"season":13,"timestamp":1553965890497,"role":"NONE","lane":"JUNGLE"},{"platformId":"EUW1","gameId":3979636696,"champion":98,"queue":900,"s[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 8:10,703:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 4:60
      X-Riot-Edge-Trace-Id:
      - 992d2c9d-bd58-4bb4-80ea-e63bced64197
    body:
      encoding: UTF-8
      string: '[{"leagueId":"87661e00-5301-11e9-bf34-c81f66dacb22","queueType":"RANKED_SOLO_5x5","tier":"BRONZE","rank":"IV","summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ","summonerName":"Zerp357","leaguePoints":6,"wins":4,"losses":6,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:32:47 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/remi5151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 9:10,704:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 6:60
      X-Riot-Edge-Trace-Id:
      - d0a212e8-3af3-45d5-8792-4749a6941dd1
    body:
      encoding: UTF-8
      string: '{"id":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","accountId":"aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg","puuid":"pyFqKDo9aFAOAEGFZDv_58cStyVpS39kgQz7BFuy7AhKac86Yg1y4pEzWt3ZCfkS3xHG_3KzWpJCxQ","name":"remi5151","profileIconId":4061,"revisionDate":1558051062000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:32:47 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 10:10,7[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 11:10,706:600
      X-Metho[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 12:10,707:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 5:60
      X-Riot-Edge-Trace-Id:
      - e15a14c2-7927-4a03-911b-77adba351651
    body:
      encoding: UTF-8
      string: '[{"leagueId":"e6e39f30-2596-11e9-b27d-c81f66dd0e0d","queueType":"RANKED_SOLO_5x5","tier":"SILVER","rank":"I","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":0,"wins":26,"losses":30,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"58d4be60-2c1a-11e9-a608-c81f66dacb22","queueType":"RANKED_FLEX_SR","tier":"BRONZE","rank":"II","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":3,"wins":2,"losses":9,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:32:48 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Teazie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 13:10,708:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 7:60
      X-Riot-Edge-Trace-Id:
      - e39e2906-d4a9-4ce4-8877-679d68473c6f
    body:
      encoding: UTF-8
      string: '{"id":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","accountId":"WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw","puuid":"4seb3_fzA-M65ddS8inXTb9BRDnBUzsLsh6SSYYlv2fJUqfC_u1BP-4vc3Z7xw71LXHCJGPo6M7YQQ","name":"Teazie","profileIconId":4057,"revisionDate":1566086639000,"summonerLevel":86}'
  recorded_at: Thu, 22 Aug 2019 16:32:49 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 14:10,7[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/WCxDXULmV6nqbOf54_qWINIY9wD8jxZXyVzsf5InSNp7rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 15:10,710:600
      X-Method[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 16:10,711:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 6:60
      X-Riot-Edge-Trace-Id:
      - 9a7aef67-ae60-4b41-b007-0af576f56e60
    body:
      encoding: UTF-8
      string: '[{"leagueId":"96d4c920-49d5-11e9-b60e-c81f66db01ef","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"oeJNlvTZiZkOuYOMGVMxw4ooGk7-kBLXh_BowkS-D9L3KKw","summonerName":"Teazie","leaguePoints":100,"wins":39,"losses":40,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false,"miniSeries":{"target":2,"wins":1,"losses":1,"progress":"WLN"}}]'
  recorded_at: Thu, 22 Aug 2019 16:32:49 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Sarcastique
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 17:10,712:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 8:60
      X-Riot-Edge-Trace-Id:
      - 9423eebf-3193-4b5a-8967-db95b670ba08
    body:
      encoding: UTF-8
      string: '{"id":"U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU","accountId":"8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8","puuid":"t5J3-6Y1eLZ1Op4jhd06MHSxtaxZSbW1MBtZq02248v6GZg0bSz2nchVbOoBqXVX_3WvFyihyAeRIQ","name":"Sarcastique","profileIconId":4061,"revisionDate":1566312898000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:32:50 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 18:10,7[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/8BA5tfM0HgY170vPY2u9ckch2A8LIOChsfSh3zDcQkr1DQ8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 19:10,714:600
      X-Metho[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/U08delkrzYXbAPdaZqslMPdUE3VC5qcVEn-qQZN203I_VGU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 20:10,715:600
      X-Method[...]
