---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Zerp357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 25:10,508:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 4:60
      X-Riot-Edge-Trace-Id:
      - 86060a37-d612-4d73-a456-2dec96b5b76e
    body:
      encoding: UTF-8
      string: '{"id":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ","accountId":"85MUAYUUItGbK5tir4zBajFXUJ12WDlD0GuVF63oYtHbRg","puuid":"Kk9BJcF89zN4Et0_CsqouYtcNLNR9zxRHZUCQ7yzEjsbTTLyPxCIpyk-rpHFdJKialib0Cd44YIu1Q","name":"Zerp357","profileIconId":3582,"revisionDate":1554029745000,"summonerLevel":47}'
  recorded_at: Thu, 22 Aug 2019 16:31:41 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 26:10,509:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 7:10,131:600
      X-Riot-Edge-Trace-Id:
      - 16540886-5399-4edb-8365-714f75dbc38a
    body:
      encoding: UTF-8
      string: '[{"championId":161,"championLevel":5,"championPoints":69169,"lastPlayTime":1524029826000,"championPointsSinceLastLevel":47569,"championPointsUntilNextLevel":0,"chestGranted":false,"tokensEarned":0,"summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ"},{"championId":101,"championLevel":4,"championPoints":16886,"lastPlayTime":1447632630000,"championPointsSinceLastLevel":4286,"championPointsUntilNextLevel":4714,"chestGranted":false,"tokensEarned":0,"summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ"},{"championId":82,"championLevel":3,"championPoints":12466,"lastPlayTime":1546272367000,"championPointsSinceLastLevel":6466,"championPointsUntilNextLevel":134,"chestGranted":false,"tokensE[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/85MUAYUUItGbK5tir4zBajFXUJ12WDlD0GuVF63oYtHbRg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 27:10,510:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '7:10'
      X-Riot-Edge-Trace-Id:
      - 01bb4d6a-cb5b-4300-997a-3969e0ef7464
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":3980341573,"champion":202,"queue":420,"season":13,"timestamp":1554027691049,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":3979943842,"champion":202,"queue":420,"season":13,"timestamp":1553979737364,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":3979707974,"champion":421,"queue":900,"season":13,"timestamp":1553967539192,"role":"DUO_SUPPORT","lane":"NONE"},{"platformId":"EUW1","gameId":3979692014,"champion":107,"queue":900,"season":13,"timestamp":1553965890497,"role":"NONE","lane":"JUNGLE"},{"platformId":"EUW1","gameId":3979636696,"champion":98,"queue":900,"s[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 28:10,511:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 3:60
      X-Riot-Edge-Trace-Id:
      - 710933db-3b89-4dce-9351-016cddcc21f2
    body:
      encoding: UTF-8
      string: '[{"leagueId":"87661e00-5301-11e9-bf34-c81f66dacb22","queueType":"RANKED_SOLO_5x5","tier":"BRONZE","rank":"IV","summonerId":"qpvKRr7b2sN2yyZ7DgG6HLx7RJb2daQpt1UA28eNzopjJCQ","summonerName":"Zerp357","leaguePoints":6,"wins":4,"losses":6,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:31:42 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/remi5151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 29:10,512:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 5:60
      X-Riot-Edge-Trace-Id:
      - 93c20d8d-b4a4-4902-af07-4077b0e9bdd1
    body:
      encoding: UTF-8
      string: '{"id":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","accountId":"aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg","puuid":"pyFqKDo9aFAOAEGFZDv_58cStyVpS39kgQz7BFuy7AhKac86Yg1y4pEzWt3ZCfkS3xHG_3KzWpJCxQ","name":"remi5151","profileIconId":4061,"revisionDate":1558051062000,"summonerLevel":140}'
  recorded_at: Thu, 22 Aug 2019 16:31:42 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 30:10,5[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/aUJ2xtPvR7sGTug5AMVWnBQLFfo-I5DPdShm55IpejtyfTg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 31:10,514:600
      X-Metho[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 1:10,515:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 4:60
      X-Riot-Edge-Trace-Id:
      - 861a6c20-b98b-4e1e-8330-c83cdfc0ef3d
    body:
      encoding: UTF-8
      string: '[{"leagueId":"e6e39f30-2596-11e9-b27d-c81f66dd0e0d","queueType":"RANKED_SOLO_5x5","tier":"SILVER","rank":"I","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":0,"wins":26,"losses":30,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"58d4be60-2c1a-11e9-a608-c81f66dacb22","queueType":"RANKED_FLEX_SR","tier":"BRONZE","rank":"II","summonerId":"FdcdN5bSN7zhp53ssx9rWe2joJWVnwv2qZq_cQtPglb7Q_E","summonerName":"remi5151","leaguePoints":3,"wins":2,"losses":9,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:31:43 GMT
recorded_with: VCR 4.0.0
