---
http_interactions:
- request:
    method: post
    uri: https://api.scoutsdk.com/graph
    body:
      encoding: UTF-8
      string: '{"query":"      {        players(identifier: \"Ninja\", title: \"fortnite\")
        {          results {            player {              playerId            }            persona
        {              handle              platform {                slug              }              pictureUrl            }          }        }      }","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Scout-App:
      - FORTNITE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"players":{"results":[{"player":{"playerId":"AQUACAFd0fHW8xYHSoVIciMMK9iG"},"persona":{"handle":"Ninja.","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AQUAAQFYz6aBceziTqEF+uvBnRfw"},"persona":{"handle":"ninja","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACATYptzTLK3rTKqYHl2sK8/q"},"persona":{"handle":"Ninja","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAXYptzTLK3rTKqYHl2sK8/q"},"persona":{"handle":"Ninja","platform":{"slug":"epic"},"pictureUrl":null}},{"player":{"playerId":"AgUACAbYptzTLK3rTKqYHl2sK8/q"},"persona":{"handle":"Ninja","platform":{"slug":"epic"},"pictureUrl":null}}]}}}'
  recorded_at: Thu, 22 Aug 2019 16:30:01 GMT
recorded_with: VCR 4.0.0
