---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Rekkles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 5:10,260:600
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 3:60
      X-Riot-Edge-Trace-Id:
      - 00e82c56-17d4-4089-a18c-59362d5351f2
    body:
      encoding: UTF-8
      string: '{"id":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","accountId":"cs7pLkcK4K4AYfa7vP6GhAD5xQVIQtRTJkKDzWsP2SCenQ","puuid":"K16FMEaWln9sPC4-BgGD5tM8eSQ8Evk-TU3QiCawNuH3acU0ph_zujIRnL1V7qbUv5qa-955jjeIqQ","name":"Rekkles","profileIconId":4,"revisionDate":1566485182000,"summonerLevel":244}'
  recorded_at: Thu, 22 Aug 2019 16:29:39 GMT
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 6:10,261:600
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 1:10,69:600
      X-Riot-Edge-Trace-Id:
      - d429b78b-04c1-435e-a360-ffadadd7c98e
    body:
      encoding: UTF-8
      string: '[{"championId":18,"championLevel":7,"championPoints":433789,"lastPlayTime":1565907054000,"championPointsSinceLastLevel":412189,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI"},{"championId":202,"championLevel":7,"championPoints":413587,"lastPlayTime":1565119694000,"championPointsSinceLastLevel":391987,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensEarned":0,"summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI"},{"championId":236,"championLevel":7,"championPoints":308238,"lastPlayTime":1564567262000,"championPointsSinceLastLevel":286638,"championPointsUntilNextLevel":0,"chestGranted":true,"tokensE[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/match/v4/matchlists/by-account/cs7pLkcK4K4AYfa7vP6GhAD5xQVIQtRTJkKDzWsP2SCenQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 7:10,262:600
      X-Method-Rate-Limit:
      - '1000:10'
      X-Method-Rate-Limit-Count:
      - '8:10'
      X-Riot-Edge-Trace-Id:
      - e34da6f1-5421-4933-9064-01f9645d929b
    body:
      encoding: UTF-8
      string: '{"matches":[{"platformId":"EUW1","gameId":4161942267,"champion":42,"queue":420,"season":13,"timestamp":1566427033439,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4161475755,"champion":81,"queue":420,"season":13,"timestamp":1566418585657,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4161425111,"champion":81,"queue":420,"season":13,"timestamp":1566416562879,"role":"DUO_CARRY","lane":"BOTTOM"},{"platformId":"EUW1","gameId":4161328711,"champion":81,"queue":420,"season":13,"timestamp":1566414889584,"role":"DUO","lane":"NONE"},{"platformId":"EUW1","gameId":4161309931,"champion":81,"queue":420,"season"[...]
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/league/v4/entries/by-summoner/o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - RIOT_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 500:10,30000:600
      X-App-Rate-Limit-Count:
      - 8:10,263:600
      X-Method-Rate-Limit:
      - 300:60
      X-Method-Rate-Limit-Count:
      - 2:60
      X-Riot-Edge-Trace-Id:
      - 57d266b4-4b97-4d04-b1ce-83da9ceb990c
    body:
      encoding: UTF-8
      string: '[{"leagueId":"57444110-c37d-11e9-89c3-c81f66dd0e0d","queueType":"RANKED_TFT","tier":"DIAMOND","rank":"IV","summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","summonerName":"Rekkles","leaguePoints":30,"wins":45,"losses":183,"veteran":false,"inactive":false,"freshBlood":true,"hotStreak":false},{"leagueId":"65ebcd4f-368c-30f6-a635-976beb0e1a8c","queueType":"RANKED_SOLO_5x5","tier":"CHALLENGER","rank":"I","summonerId":"o9hXBBzYfCANtsM2WXejG-kRY6rAYUJpF7BB51f_t2b0WGI","summonerName":"Rekkles","leaguePoints":787,"wins":597,"losses":509,"veteran":true,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Thu, 22 Aug 2019 16:29:40 GMT
recorded_with: VCR 4.0.0
